.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
#logImg{
    height: 25em;
    width: 25em;
    /* margin-top: -1em; */
}

/* #schoolName{
    margin-right: 1em;
    margin-top: -7em;
} */